<footer>
    <div class="footer_body">
      <div class="divider_line"></div>
      <div class="footer_content"> <h1> <img src="images/logo.png" width="35px" height="35px" alt="weblogo"/> Africado<br> Foundation.</h1><br/><p>Empowering people to build a better future</p><br/><h3><div class="donatee">DONATE NOW</div></h3></div>
      <div class="footer_content">
        <h1>PROGRAMS</h1>
        
          <p>Lunch programs</p><br>
          <p>Tech-know Africa</p><br>
          <p>Turning point projects</p><br>
          <p>The Advantage</p><br>
          <p>Advoc 8</p><br>
          <p>The tech girl project</p><br>
      
         </div>
         <div class="footer_content">
          <h1>CONTACT US</h1>
          
            <p> <img src="images/gprs.png" width="10px" height="10px" alt="location logo"/> Harmony innovation Hub, 1 M.M Akali street,
            442 Crescent, ctec villa, Gwaimpa, Abuja</p><br>
            <p><img src="images/phone.png" width="10px" height="10px" alt="phone logo"/>  +234(807) 900 6448</p><br>
            <p><img src="images/mail.png" width="10px" height="10px" alt="mail logo"/>  info@africado.foundation</p>
          
         </div>
         <section class="footer_copyright">&#169;Copyright Africado foundation. All rights reserved<br></section>
    </div>
  </footer>