<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
   <%- include("./partials/header.ejs") -%>
    <main> 
      <section class="hero">
        <div class="hero_content">
          <h1 class="hero_title">ABOUT US.</h1>
 </div>
      </section>
      <div class="about_sec">
        <div class="about_seca"></div>
        <div class="about_secb"> <h1 class="about_sech1">About Us.</h1> <p class="about_secp">Africado Foundation is an indigenous non-profit organization focused on personal development and youth enterprise. In the last 7 years, we have worked across Nigeria in thematic areas including youth empowerment, capacity development and creative engagement for young populations. We are a non-government organization that nurtures and empowers people to change their lives using technology to create social impact. We also design and manage programs that support and promote innovative ideas for social impact.</p> </div>
</div>
<div class="about_third">
  <div class="about_thirdone"> <img src="images/gprs.png" id="about_img"  alt="binaculars"/>  <p>Our mission is to end poverty using technology by building and developing sustainable human capital and improving the employability index across Afica.</p> <br> <h1>Our Mission</h1> </div>
  <div class="about_thirdtwo">  <img src="images/programacc.png" id="about_img"  alt="binaculars"/> <p>To empower people with the ability to change their lives</p> <br> <h1>Our Vision</h1> </div>
  <h1 class="about_thirdh1">Our Core Values.</h1>

</div>
<div class="about_four">
  <div class="about_fourone"></div>
  <div class="about_fourtwo">
    <div class="about_foura">
      <div class="about_fouraa"><h1>Compassion</h1> <br> <p>We walk in the shoes of people we serve and those with whom we work. We respond in service and support for each individual each group or community, and for society as a whole.</p></div>
      <div class="about_fourab"> <h1>Honesty & Integrity.</h1> <br> <p>We foster strong and lasting, relationships by being truthful and authentic in all interactions. We always strive for mindful and consistent actions, values, methods, measures, principle, expectations, and outcomes.</p> </div>
      <div class="about_fourac"> <h1>Respect.</h1> <br> <p>High regard for all and sundry. Best practices that dignify all.</p> </div>
 </div>
      <div class="about_fourb">
        <div class="about_fourba"> <h1>Transparency.</h1> <br> <p>We build trust through honest business practices and transparent communication.</p> </div>
        <div class="about_fourbb"> <h1>Ethnics.</h1> <br> <p>We place professional responsibility above personal gain.</p> </div>
        <div class="about_fourbc"> <h1>Innovative.</h1> <br> <p>We constantly strive to redefine the standard of excellence in everything we do.</p> </div>
       </div>



  </div>
  
</div>
<h1 class="about_fourbcch1">Frequently Asked Questions.</h1>
<section class="about_five">
  <div class="about_fivea"></div>
  <div class="about_fiveb">
    <button class="donate_maincbutn"> Question 1</button>
    <button class="donate_maincbutn"> Question 2</button>
    <button class="donate_maincbutn"> Question 3</button>
    <button class="donate_maincbutn"> Question 4</button>





  </div>




</section>

      
      
      
      
      
      
      </main>
      <%- include("./partials/footer.ejs") -%>
  </body>
</html>
 
