<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
   <%- include("./partials/header.ejs") -%>
    <main> 
        <section class="hero">
            <div class="hero_content">
              <h1 class="hero_title">SUPPORT OUR CAUSE.</h1>
     </div>
          </section>

          <div class="donate_maina">
            <div class="donate_mainaa"></div>
            <div class="donate_mainab"> <p class="donate_para">Become a volunteer</p> <br> <h1 class="donate_h1">HOW YOUR DONATION HELPS</h1> <br> <p class="donateapara"><span class="donate_span">1.</span>Identify promising and underserved young people and equip them with the relevant tech skills and opportunities to recreate their world.  </p> <br>
            <p class="donateapara"><span class="donate_span">2.</span> Develop a strong and supportive community of social innovators using tech to solve Africa's development problems </p> <br>
          <p class="donateapara"><span class="donate_span">3.</span> Foster an enabling environment that inspires Innovative ideas for social impact  </p> <br>
        </div>
            <div class="donate_mainac">
              <p class="donate_mainacpara"><span class="donate_mainspan">12+</span>OutreachPrograms</p>
              <p class="donate_mainacpara"><span class="donate_mainspan">150+</span>DedicatedVolunteers</p>
              <p class="donate_mainacpara"><span class="donate_mainspan">12+</span>YearsofService</p>
              <p class="donate_mainacpara"><span class="donate_mainspan">20+</span>OutReachPrograms</p>



            </div>


          </div>

          <div class="donate_mainb">

            <div class="donate_mainba"> <p class="donate_para">Support us today</p> <br> <h1 class="donate_h1">WHY WE NEED YOU</h1>  <p class="donate_mainbapara">A donation is a gift for charity, humanitarian aid, or to benefit a cause. A donation may take various forms, including money, alms, services, or goods such as clothing, toys, food.</p> 
               <button class="donate_butn">DONATE NOW</button></div>
            <div class="donate_mainbb"></div>
 </div>
 <h1 class="donate_mainh1">Frequently Asked Questions</h1>

 <div class="donate_mainc">
  <div class="donate_mainca"></div>
  <div class="donate_maincab">

    <button class="donate_maincbutn"> Question 1</button>
    <button class="donate_maincbutn"> Question 2</button>
    <button class="donate_maincbutn"> Question 3</button>
    <button class="donate_maincbutn"> Question 4</button>




  </div>


 </div>



        </main>
      <%- include("./partials/footer.ejs") -%>
  </body>
</html>
 
