<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
    <header class="header">
      <div class="header_logo"> <img src="images/hand4.jpg" width="10px" height="10px" alt="handshake logo"/> Africado Foundation &#124; <img src="images/phonelogo.jpg" width="10px" height="10px" alt="phone logo"/> +234(807)900 6448 &#124; <img src="images/timelogo.jpg" width="10px" height="10px" alt="time logo"/> mon - fri 09:00AM - 05:00PM <img src ="images/inst.jpg" width="10px"
height="10px" alt ="instagram logo1"/> <img src="images/face.jpg" width="10px" height="10px" alt="facebook logo"/> <img src="images/twitter.jpg" width="10px" height="10px" alt="twitterlogo"/>    
</div>
      <div class="header_links">
        <div>
          <ul class="header_items_links">
            <li class="header_link_item">
              <a href="#">HOME</a>
            </li>
            <li class="header_link_item">
              <a href="#">DONATE</a>
            </li>
            <li class="header_link_item">
              <a href="#">ABOUT US</a>
            </li>
            <li class="header_link_item">
              <a href="#">OUR PROGRAMS</a>
            </li>
            <li class="header_link_item" id="header_don">
              <a href="#">DONATE NOW</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main></main>
    <footer>
      <div class="footer_body">
        <div class="footer_content"><h3>Africado Foundation</h3><br/><p>Empowering people to build a better future</p><br/><h2><span class="donate">DONATE NOW</span></h2></div>
        <div class="footer_content">
          <h1>PROGRAMS</h1>
          <ul>
            <li>Lunch programs</li>
            <li>Tech-know Africa</li>
            <li>Turning point projects</li>
            <li>The Advantage</li>
            <li>Advoc 8</li>
            <li>The tech girl project</li>
          </ul>
           </div>
           <div class="footer_content">
            <h1>CONTACT US</h1>
            <ul>
              <li>Harmony innovation Hub, 1 M.M Akali street,</li>
              <li>442 Crescent, ctec villa, Gwaimpa, Abuja</li>
              <li>+234(807) 900 6448</li>
              <li>info@africado.foundation</li>
            </ul>
           </div>
           <section class="footer_copyright">&#169;Copyright Africado foundation. All rights reserved</section>
      </div>
    </footer>
  </body>
</html>
