<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
   <%- include("./partials/header.ejs") -%>
    <main>
        <section class="hero">
            <div class="hero_content">
              <h1 class="hero_title">PROGRAMS.</h1>
     </div>
          </section>

          <div class="mainprogram">
            <div class="mainprograma">
                <div class="mainprogramaa"> <h2>The Launchpad Program (Eagles Wings)</h2> <br> <p>This is a launchpad for social innovatiors. It provides incubation and acceleration for ideas that improve lives and empower communities. Over a 6 months period. Social innovators are provided seed funding opportunities, mentoring, networking opportunities and business advisory services needed to turn ideas into MVPS that are scalable and sustainable</p> </div>
                <div class="mainprogramab">
                   <img src="images/programac.png" id="mainprogramimg" alt="png picture"/>
                   <img src="images/programad.png" id="mainprogramimg" alt="png picture"/> 
                   <img src="images/programae.png" id="mainprogramimg" alt="png picture"/> 
                   <img src="images/programaf.png" id="mainprogramimg" alt="png picture"/> 
</div>
            </div>
            <div class="mainprogramb">
                <div class="mainprogramba"> <h2>Tech-Know Africa</h2> <br> <p>This Africa Growth Project is centred around Quality Education (Goal 4). Decent Work and Economic Growth (Goal 8) and industry. Innovation. Infrastructure(Goal 9), of the United Nations Sustainable Development Goals (SDGs). Under Goal 4, we intend to improve the quality of education for young populations in rural communities, Under goal 8, we provide support in technical education targeted at building a tech community of interns and skill pool for possible employment. By leveraging this demographic opportunity. We have the potential to unleash new economic possibilities created by future undustries and labour markets, dramatically raising labour productivity and per capita incomes, diversifying the economy of host communities in the long run, and becoming an engine for stable economic growth. </p> </div>
                <div class="mainprogrambb">

                    <img src="images/programa.png" id="mainprogramimg" alt="png picture"/>
                    <img src="images/programab.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/programag.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/side_two.png" id="mainprogramimg" alt="png picture"/> 
  </div>
            </div>
            <div class="mainprogramc">
                <div class="mainprogramca"> <h2>Turning Point Projects.</h2> <br> <p>The turning point project will provide digital skill education to youths in vulnerable and underserved communities. This trainin will focus on introduction to computers, career opportunities in ICT, Advanced ICT(Engineering, science, IoT, cloud compiling, Robotics), Preparation for WASSCE, NECO and Jamb and other digital skills that will expose participants to in-demand tech opportunities in future.</p> </div>
                <div class="mainprogramcb"> 

                    <img src="images/programab.png" id="mainprogramimg" alt="png picture"/>
                    <img src="images/programa.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/programac.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/programae.png" id="mainprogramimg" alt="png picture"/> 
 


                </div>
            </div>
            <div class="mainprogramd">
                <div class="mainprogramda"> <h2>The Advantage.</h2> <br> <p>The need for competent and quality leadership in Africa cannot be overemphasized. With this program, we hope to empower student leaders with tangible skills needed to spearhead pan African revolutionary movements. We understand that the need for capacity development and adequate exposure for young and aspiring leaders is expedient. This program aims to expose young and aspiring leaders to relevant information in the areas of Resource Management, Character Development, Capacity Development, Relationship management, Self-Awareness among others.</p> </div>
                <div class="mainprogramdb">

                    <img src="images/programad.png" id="mainprogramimg" alt="png picture"/>
                    <img src="images/programac.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/sidethree.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/side_twoo.png" id="mainprogramimg" alt="png picture"/> 
 

                </div>
            </div>
            
            <div class="mainprogramf">
                <div class="mainprogramfa"> <h2>Tech-Girl Project</h2> <br> <p>This project is meant to reach underserved young girls in communities and villages where there is no access to technology, participating girls are trained on application of technology post covid-19. The ultimate goal of this project is to create an inclusive tech ecosystem for girls, regardless of backgrounds, race, ethnicity, religion and social status as a means of closing the digital divide.</p> </div>
                <div class="mainprogramfb">

                    <img src="images/programaf.png" id="mainprogramimg" alt="png picture"/>
                    <img src="images/programag.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/programae.png" id="mainprogramimg" alt="png picture"/> 
                    <img src="images/sideone.png" id="mainprogramimg" alt="png picture"/> 
 


                </div>
            </div>






          </div>
        
        
        </main>
      <%- include("./partials/footer.ejs") -%>
  </body>
</html>
 
