*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    display:flex;
    min-height:100vh;
    flex-direction:column;
  }

 main{
    flex:1 0 auto;
  }

.header_logo{
display:flex;
flex-direction: row;
justify-content:space-around;
background-color:#354fd8;
color:#ffffff;
padding-top: 8px;
height:40px;
width:100%;
font-weight: 2em;
}
.donate{
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:160px;
    height: 37px;
    background-color: #ffffff;
    color:hsl(50, 89%, 53%);
    padding-top:5px;
    margin-top:10px;
    text-align: center;
    font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
}
.header_link_item a{
    text-decoration: none;
    color:black;
    display: block;
    font-size:15px;
    font-weight: 400;
}
.header_link_item, ul{
    list-style:none;
    margin:0;
    padding:0;
}
.header_link_item, li{
   float:left; 
   width:150px;
   padding-top:15px;
}
.header_nav{
    height: 65px;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #ffffff;
}
.header_nav li:hover{
    background-color: #f2cd1a;
    color: #ffffff;
}

.header_nav a:hover{
    background-color: #f2cd1a;
    color: #ffffff;
}
.header_logo_right span{
    position:relative;
    left:-25px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.header_logo_right img{
    position:relative;
    left:-27px;
}
#img_g{
    margin-left:30px;
}
#im_g{
    margin-left:40px;
}
.header_banner{
    border-radius:2px solid black;
    height:50px;
    width:100%;
    margin-top:75px;
  }
  .hero{
    position:relative;
    border: 1px solid #000000;
    background-color:hsl(0, 0%, 0%);
    background-image: url('../images/hero.png');
    background-repeat: no-repeat;
    background-size:100%, 100%;
    background-position: center center;
    height:300px;
  }
.hero_content{
    position: relative;
    top:52px;
    text-align:center;
    padding:auto;
}
.hero_title{
    color:#f2cd1a;
    font-size:46px;
}
.hero_subtitle{
    color:#ffffff;
    font-size:33px;
}
.hero_subbtitle{
    background-color: #ffffff;
    color:#000000;
    font-size:38px;
}
.hero_button{
    position: relative;
    top:15px;
    border: 1px solid #f2cd1a;
    background-color: #f2cd1a;
    color:#ffffff;
    border-radius: 33px;
    height: 35px;
    width:140px;
} 
.hero_button:hover{
    transition-duration: 1s;
    opacity: 0.7;
}
.second_side{
    background-color: rgb(229, 229, 229);
    border: 1px solid #ffffff;
    height:350px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top: 35px;
}
.second_sideone{
    background-image: url('../images/sideone.png');
    background-size:350px 250px;
    background-repeat: no-repeat;
    border:1px solid  rgb(229, 229, 229);
    border-radius: 10px;
    color:#ffffff;
    text-align: center;
    padding-top: 170px;
    width: 350px;
    height: 250px;
    box-shadow:10px 10px 5px #aaaaaa;
}
.second_sidetwo{
    background-image: url('../images/programad.png');
    background-size:350px 250px;
    background-repeat: no-repeat;
    border:1px solid  rgb(229, 229, 229);
    border-radius: 10px;
    color:#ffffff;
    text-align: center;
    padding-top: 170px;
    width: 350px;
    height: 250px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.second_sidethree{
    background-image: url('../images/sidethree.png');
    background-size:350px 250px;
    background-repeat: no-repeat;
    border:1px solid  rgb(229, 229, 229);
    border-radius: 10px;
    color:#ffffff;
    text-align: center;
    padding-top: 180px;
    width: 350px;
    height: 250px;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.third_side{
    background-color: #ffffff;
    height:750px;
    border: 1px solid #ffffff;
}
.third_side h3{
    color:#354fd8;
    text-align: center;
    font-size: 45px;
    padding-top: 40px;
}
.third_sideone{
    border:1px solid #ffffff;
    height: 350px;
    width:80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    box-shadow: 5px 7px 5px 7px #aaaaaa;
    position:relative;
    top:30px;
}
.third_sideonee{
    border: 1px solid #ffffff;
    border-radius: 8px;
    height:250px;
    width: 45%;
    position: relative;
    top:40px;
    text-align: center;
    padding-top: 60px;
}
.third_sideoneee{
    background-image: url(../images/programa.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #ffffff;
    border-radius: 8px;
    height:250px;
    width: 45%;
    position: relative;
    top:40px;

}
.third_sideonee h5{
    color:#354fd8;
    font-size:16px;
}
.third_sideonee h1{
    color:#f2cd1a;
}
.third_sideonee p{
    color:#aaaaaa;
}
.donate_sidetwo{
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:150px;
    height: 42px;
    color: #ffffff;
    background-color:hsl(50, 89%, 53%);
    text-align: center;
    font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    padding-top: 10px;
}
.donate_sidetwo:hover{
opacity:0.7;
}
.third_sidetwo{
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    position: relative;
    top:60px;
}
.third_sidetwoo{
background-image: url(../images/globe.png);
background-size: 100% 200px;
background-repeat: no-repeat;
border-radius: 18px;
height: 200px;
width:30%;
position:relative;
top:15px;
left:40px;
}
.third_sidetwooo{
    border-radius: 8px;
    height: 250px;
    width: 40%;
    position: relative;
    top:15px;
    right:35px;

}
.third_sidetwooo h1{
    color:#354fd8;
    text-align: center;
}
.third_sidetwooo p{
    padding-left: 15px;
    color:#aaaaaa;
}
.para_sidetwooo{
    color:#f2cd1a;
    font-size: 18px;
    padding-right: 10px;
}
.learn_sidetwooo{
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:300px;
    height: 42px;
    color: #ffffff;
    background-color:hsl(50, 89%, 53%);
    text-align: center;
    font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin: auto;
    padding-top: 10px;
}
.learn_sidetwooo:hover{
    opacity: 0.7;
}
    


/* FOOTER CSS */

footer{
    border-top:1px solid black;
    border-bottom:1px solid black;
    color:#000000;
    background:#ffffff;
    position: relative;
}
.footer_content p{
    font-family: 'inter';
    font-size: 14px;
    font-style: none;
    font-weight: 100;
}
.footer_body{
    margin-bottom:40px;
    padding:30px;
}
.footer_body ul{
    margin:0px;
    padding:0px;
    font-family: 'inter';
    font-size: 14 px;
    font-style:none;
    font-weight:100;
}
.donatee{
    position:relative;
    top:25px;
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:160px;
    height: 40px;
    background-color: #ffffff;
    color:#f2cd1a;
    padding-top:5px;
    text-align: center; font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;

}
.footer_body li{
    text-decoration:none;
    margin-bottom:7px;
}
.footer_body:after{
display:table;
clear:both;
}
.footer_content{
    float:left;
    width:33.3%;
    margin-bottom:50px;
}
.footer_content p{
    position: relative;
    top:25px;
}
.footer_content img{
    position:relative;
    left:-7px;
}
.footer_content h1{
    color:#000000;
    font-size: 20px;
}
.footer_copyright{
    width:100%;
    height:40px;
    padding:10px;
    position: absolute;
    bottom:0px;
    left:0px;
    text-align:center;
}


/*ABOUT US PAGE*/






.about_sec{
    height:400px;
    background-color: #ffffff;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
}
.about_seca{
    background-image: url(../images/programac.png);
    background-repeat: no-repeat;
    background-size: 300px 280px;
    height: 280px;
    width:300px;
 border-radius: 10px;
}
.about_secb{
    height:280px;
    width:400px;
 border-radius: 10px;
 padding-top: 20px;

}
.about_sech1{
    color:#354fd8;
    text-align: center;
}
.about_secp{
    color:#aaaaaa;
    text-align: center;
}




.about_third{
    height:400px;
    background-color: #ffffff;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.about_third h1{
    color:#354fd8;
    text-align: center;
}
.about_third p{
    padding-top: 15px;
    color:#aaaaaa;
    text-align: center;
}

.about_thirdone{
    height:280px;
    width:480px;
    border-radius: 13px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    position: relative;
    left:100px;
    padding-top: 10px;
}
.about_thirdtwo{
    height:280px;
    width:480px;
    border-radius: 13px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    position: relative;
    left:180px;
    padding-top: 15px;
}
#about_img{
width:80px;
height: 80px;
position: relative;
left:180px;
padding-top: 10px;

}
.about_thirdh1{
    color:#354fd8;
    position:relative;
    top:300px;
    right:550px;
}
.about_four{
    height: 600px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    padding-top:30px;
}
.about_fourone{
    background-image: url('../images/programa.png');
    background-size: 250px 350px;
    background-repeat: no-repeat;
    height: 350px;
    width:250px;
    border: 1px solid orchid;
}
.about_fourtwo{
    height: 500px;
    width: 800px;
}
.about_foura{
    background-color: #ffffff;
    height:250px;
    width:800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about_fouraa{
    background-color: #ffffff;
    height: 220px;
    width: 250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_fourab{
    background-color: #ffffff;
    height: 220px;
    width:250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_fourac{
    background-color: #ffffff;
    height:220px;
    width:250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_fourb{
    background-color: #ffffff;
    height:250px;
    width:800px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about_fourba{
    background-color: #ffffff;
    height: 220px;
    width: 250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_fourbb{
    background-color: #ffffff;
    height: 220px;
    width:250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_fourbc{
    background-color: #ffffff;
    height:220px;
    width:250px;
    box-shadow: 2px 3px 5px 1px #aaaaaa;
    padding-top: 15px;
}
.about_four h1{
    color:#354fd8;
    text-align: center;
    font-size: 25px;

}
.about_four p{
    color:#aaaaaa;
    text-align: center;
}
.about_fourbcch1{
    color:#354fd8;
    text-align: center;
}
.about_five{
    background-color: #ffffff;
    height: 400px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.about_fivea{
    background-image: url('../images/programaf.png');
    background-repeat: no-repeat;
    background-size: 200px 350px;
    background-color: #ffffff;
    height:350px;
    width:200px;
    margin-top: 15px;
   
}
.about_fiveb{
    background-color: #ffffff;
    height: 350px;
    width:600px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.donate_maincbutn{
    border:1px solid #354fd8;
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    color: #354fd8;
    border-radius: 33px;
    margin-left:20px;
}
.donate_maincbutn:hover{
    opacity: 0.7;
    background-color: #354fd8;
    color:#ffffff;
}





.about_five h4{
    color:#aaaaaa;
    text-align: center;
    padding-top: 15px;
}

/*PROGRAMS PAGE*/


.mainprogram{
    height: 2400px;
    width:1100px;
    margin:auto;
    padding-left: 50px;
    color:#aaaaaa;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.mainprograma{
background-color: #ffffff;
height: 360px;
width:1000px;
box-shadow: 2px 3px 30px 10px #aaaaaa;
}
.mainprogramaa{
width:100%;
height: 150px;
}
.mainprogramab{
    width:100%;
    height: 210px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#mainprogramimg{
    width: 235px;
    height: 180px;
}



.mainprogramb{
background-color: #ffffff;
height: 360px;
width:1000px;
box-shadow: 2px 3px 30px 10px #aaaaaa;
}

.mainprogramba{
width:100%;
height: 150px;
}
.mainprogrambb{
    width:100%;
    height: 210px; 
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
.mainprogramc{
    background-color: #ffffff;
    height: 360px;
    width:1000px;
    box-shadow: 2px 3px 30px 10px #aaaaaa;
}

.mainprogramca{
width:100%;
height: 150px;
}
.mainprogramcb{
    width:100%;
    height: 210px;  
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}

.mainprogramd{
    background-color: #ffffff;
    height: 360px;
    width:1000px;
    box-shadow: 2px 3px 30px 10px #aaaaaa;
}
.mainprogramda{
width:100%;
height: 150px;
}
.mainprogramdb{
width:100%;
height: 210px;
padding-top: 10px;
display: flex;
flex-direction: row;
justify-content:space-between;
}

.mainprogramf{
    background-color: #ffffff;
    height: 360px;
    width:1000px;
    box-shadow: 2px 3px 30px 10px #aaaaaa;
}
.mainprogramfa{
width:100%;
height: 150px;
}
.mainprogramfb{
width:100%;
height: 210px;
padding-top: 10px;
display: flex;
flex-direction: row;
justify-content:space-between;

}

/* Donate Page */

.donate_maina{
    height:700px;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    padding-top: 20px;
}
.donate_mainaa{
    height: 350px;
    width:300px;
    background-image: url('../images/programaa.png');
    background-repeat: no-repeat;
    background-size: 300px 350px;
}
.donate_para{
    color:#354fd8;
    text-align: center;
    font-size: 16px;
}
.donate_span{
    color:#f2cd1a;
    font-size: 22px;
    padding-left: 8px;
}


.donateapara{
    color:#aaaaaa;
    text-align: center;
}
.donate_h1{
    color:#f2cd1a;
    text-align: center;
}
.donate_mainab{
    height: 400px;
    width: 495px;
    padding-top: 15px;
}
.donate_mainac{
    border:1px solid orangered;
    height: 200px;
    width: 1250px;
}
.donate_mainb{
    background-color: rgb(229, 229, 229);
    height: 300px;
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:20px;
    box-shadow: 3px 1px 4px 2px #aaaaaa;
}
.donate_mainba{
    height: 250px;
    width: 450px;
}
.donate_mainbapara{
    color:#4b4949;
    text-align: center;
}
.donate_mainbb{
    height:250px;
    width:300px;
    border-radius: 15px;
    background-image: url('../images/programab.png');
    background-repeat: no-repeat;
    background-size: 300px 250px;
}
.donate_butn{
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:150px;
    height: 42px;
    color: #ffffff;
    background-color:hsl(50, 89%, 53%);
    text-align: center;
    font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    margin-left: 150px;
    margin-top: 25px;
    padding-top: 5px;
}
.donate_butn:hover{
    opacity: 0.6;
}
.donate_mainh1{
    color:#354fd8;
    text-align: center;
}


.donate_mainc{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
}
.donate_mainca{
    height: 300px;
    width: 300px;
    background-image: url('../images/programac.png');
    background-repeat: no-repeat;
    background-size: 300px 300px;
}
.donate_maincab{
    background-color: #ffffff;
    height: 250px;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.donate_maincbutn{
    border:1px solid #354fd8;
    background-color: #ffffff;
    width: 400px;
    height: 50px;
    color: #354fd8;
    border-radius: 33px;
    margin-left:20px;
}
.donate_maincbutn:hover{
    opacity: 0.7;
    background-color: #354fd8;
    color:#ffffff;
}

@media screen and (max-width:480px) {
    .about_sec{
        display:flex;
        flex-direction: column;
    }
    .about_sec div{
        width: 320px;
        height:330px;
        color:red;
    
    }
    .about_third{
        display:flex;
        flex-direction: column;
        justify-content:space-between;
    }
    .about_third div{
        height: 250px;
        width: 300px;
        margin-right: 100px;
    }
    .about_four{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    }



