*, *::before, *::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  body{
    display:flex;
    min-height:100vh;
    flex-direction:column;
  }
  main{
    flex:1 0 auto;
  }
.header_logo{
display:flex;
flex-direction: row;
justify-content:space-around;
background-color:#354fd8;
color:#ffffff;
padding-top: 8px;
height:35px;
width:100%;
font-weight: 2em;
}
.donate{
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:160px;
    height: 40px;
    background-color: #ffffff;
    color:#f2cd1a;
    padding-top:5px;
    margin-top:10px;
    text-align: center;
    font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 23px;
}
.header_link_item a{
    text-decoration: none;
    color:black;
    display: block;
    font-size:15px;
    font-weight: 400;
}
.header_link_item, ul{
    list-style:none;
    margin:0;
    padding:0;
}
.header_link_item, li{
   float:left; 
   width:150px;
   padding-top:15px;
}
.header_nav{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: #ffffff;
}
.header_nav li:hover{
    background-color: #f2cd1a;
    color: #ffffff;
}

.header_nav a:hover{
    background-color: #f2cd1a;
    color: #ffffff;
}
.header_logo_right span{
    position:relative;
    left:-25px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.header_logo_right img{
    position:relative;
    left:-27px;
}
#img_g{
    margin-left:30px;
}
#im_g{
    margin-left:40px;
}
.header_banner{
    border-radius:2px solid black;
    height:50px;
    width:100%;
    margin-top:75px;
  }
  .hero{
    position:relative;
    border: 1px solid #000000;
    background-color:#000000;
    background-repeat: no-repeat;
    background-size:350px , 50px;
    background-position: center center;
    filter:brightness(60%);
  }
  .hero::before{
    position:absolute;  
    }
.hero_content{
    text-align:center;
}
.hero_title{
    color:#f2cd1a;
    font-size:33px;
}
.hero_subtitle{
    color:#ffffff;
}
.hero_subbtitle{
    background-color: #ffffff;
    color:#000000;
    font-size:28px;
}
.hero_button{
    background-color: #f2cd1a;
    color:#ffffff;
    border-radius: 33px;
    height: 35px;
    width:140px;
}



footer{
    border-top:1px solid black;
    border-bottom:1px solid black;
    color:#000000;
    background:#ffffff;
    position: relative;
}
.footer_content p{
    font-family: 'inter';
    font-size: 14px;
    font-style: none;
    font-weight: 100;
}
.footer_body{
    margin-bottom:40px;
    padding:30px;
}
.footer_body ul{
    margin:0px;
    padding:0px;
    font-family: 'inter';
    font-size: 14 px;
    font-style:none;
    font-weight:100;
}
.donatee{
    position:relative;
    top:25px;
    border:2px solid #f2cd1a;
    border-radius:33px;
    width:160px;
    height: 40px;
    background-color: #ffffff;
    color:#f2cd1a;
    padding-top:5px;
    text-align: center; font-family:'inter';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;

}
.footer_body li{
    text-decoration:none;
    margin-bottom:7px;
}
.footer_body:after{
display:table;
clear:both;
}
.footer_content{
    float:left;
    width:33.3%;
    margin-bottom:50px;
}
.footer_content p{
    position: relative;
    top:25px;
}
.footer_content img{
    position:relative;
    left:-7px;
}
.footer_content h1{
    color:#000000;
    font-size: 20px;
}
.footer_copyright{
    width:100%;
    height:40px;
    padding:10px;
    position: absolute;
    bottom:0px;
    left:0px;
    text-align:center;
}